{% extend 'base.html' %}
{% block content %}

<h2>Dashboard</h2>

<div>
    <p>Total Tasks: {{ total_tasks}}</p>
    <p>Completed Tasks: {{ completed_tasks}}</p>
</div>

<!-- Chart for Task Completion Rate -->
<canvas id="completionRateChart" width="400" height="200"></canvas>

<!-- Chart for Task Status Distribution -->
<canvas id="statusDistributionChart" width="400" height="200"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>

<!--  Chart for Task Completion Rate -->

    var ctx1 = document.getElementById('completionRateChart').getContext('2d')
    var completionRateChart = new chart(ctx1, {
        type: 'doughnut',
        data:{
            labels: ['Completed', Incompleted],
            
        }

    })
